#regist-okashi {
    background-color: rgba(0,0,0,0.03);
    background-image: url(../images/okashi-image.jpg);
    height: 150px;
  }

.post-okashiset-image {
  background-color: rgba(0,0,0,0.03);
}
